[submodule "evmone"]
	path = third_party/evmone/evmone
	url = https://github.com/somnathb1/zevmone.git
	branch = hyper1
[submodule "intx"]
	path = third_party/intx/intx
	url = https://github.com/somnathb1/intx.git
	branch = som/zz_dirty
[submodule "ethereum-tests"]
	path = third_party/ethereum-tests
	url = https://github.com/ethereum/tests.git
